@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght,SOFT,WONK@9..144,100..900,0..100,0..1&display=swap');


/* Prevent padding and border from affecting element width. */
*, ::before, ::after {
    box-sizing: border-box;
}

/* Remove the margin in all browsers */
body {
    margin: 0;
    padding: 0;
    line-height: inherit;
    font-family: "Fraunces", serif;
    background-color: darkgreen;
    color: lightgreen;
    transition: all 100ms ease;
}

#text {
    margin: 10%;
    font-size: 24px;
}